@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* Binding the the Model from the Student *@
@model List<CrudInMVCNet8.Models.Entities.Student>

@* Fetching the data and Showing the Tabuler Form *@

<h1>The Students data</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Subcribed</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Subcribed</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Student" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

